.navbar {
  background-color: #1e1e1e;
}

.navbar-brand {
  color: #fff;
  font-size: 2rem;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.dropdown-menu {
  background-color: #1e1e1e;
}

.dropdown-item {
  color: #fff;
  padding: 0.5rem 1rem;
}

.dropdown-item:hover {
  background-color: #007bff;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
} 